<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <title>Conditional Rendering</title>
</head>
<body>
  <!-- v-if -->

  <h1 v-if="ok">Yes</h1>
  <h1 v-else>No</h1>

  <!-- Conditional Groups with v-if on <template> -->

  <div v-if="Math.random() > 0.5">
    Now you see me
  </div>
  <div v-else>
    Now you don't
  </div>


  <!-- v-else-if -->
  <div v-if="type === 'A'">
    A
  </div>
  <div v-else-if="type === 'B'">
    B
  </div>
  <div v-else-if="type === 'C'">
    C
  </div>
  <div v-else>
    Not A/B/C
  </div>

  <!-- Controlling Reusable Elements with key -->
  <div v-if="loginType === 'username'">
    <label>Username</label>
    <input placeholder="Enter your username" key="username-input">
  </div>
  <div v-else>
    <label>Email</label>
    <input placeholder="Enter your email address" key="email-input">
  </div>

  <!-- v-show -->
  <h1 v-show="ok">Hello!</h1>
  <!--
  The difference is that an element with v-show will
  always be rendered and remain in the DOM
  -->

  <!--
    Generally speaking, v-if has higher toggle costs while v-show has higher
    initial render costs. So prefer v-show if you need to toggle something
    very often, and prefer v-if if the condition is unlikely to change at runtime.
  -->
</body>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script >

  </script>
</html>