<html xmlns:v-for="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>

  <title>List Rendering</title>
  <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

</head>
<body>

  <!-- v-for -->
  <ul id="example-1">
    <li v-for="item in items">
      {{ item.message }}
    </li>
  </ul>

  <ul id="example-2">
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>
<!-- also can use item of items instead of item in items-->


<!-- Object v-for -->
  <ul id="repeat-object" class="demo">
    <li v-for="(value, key, index) in object">
     {{index}}.{{key}} : {{ value }}
    </li>
  </ul>

<!-- Range v-for -->
  <div id="main">

    <div>
      <span v-for="n in 10">{{ n + " " }}</span>
    </div>

  </div>

<!-- Components and v-for -->
<!--
  <my-component
    v-for="(item, index) in items"
    v-bind:item="item"
    v-bind:index="index">
  </my-component>
-->

<!-- Simple to do list-->
<div id="todo-list-example">
  <input
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="Add a todo"
    >
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>

  <!-- key -->
  <div v-for="item in items" :key="item.id">

  </div>

  <!--
    Mutation Methods
        push()
        pop()
        shift()
        unshift()
        splice()
        sort()
        reverse()
  -->

  <!--
     there are also non-mutating methods, e.g. filter(), concat() and slice(),
     which do not mutate the original Array but always return a new array.
  -->

  <div id="even">
    <li v-for="n in evenNumbers">{{ n }}</li>
  </div>
</body>


  <script>
    new Vue({
      el:'#main'
    });
    var example1 = new Vue({
      el: '#example-1',
      data: {
        items:[
          {message: 'Foo'},
          {message: 'Bar'}
        ]
      }
    });

    var example2 = new Vue({
      el: '#example-2',
      data: {
        parentMessage: 'Parent',
        items:[
          {message: 'Foo'},
          {message: 'Bar'}
        ]
      }
    });

    var repeat = new Vue({
      el: '#repeat-object',
      data: {
        object: {
          FirstName: 'John',
          LastName: 'Doe',
          Age: 30
        }
      }
    });

    Vue.component('todo-item', {
      template:'\
      <li>\
        {{title}}\
        <button v-on:click="$emit(\'remove\')">X</button> \
      </li>\
      ',
      props: ['title']
    });


    new Vue({
      el: '#todo-list-example',
      data: {
        newTodoText: '',
        todos: [
          'Do the dishes',
          'Take out the trash',
          'Mow the lawn'
        ]
      },
      methods: {
        addNewTodo: function () {
          this.todos.push(this.newTodoText);
          this.newTodoText = '';
        }
      }
    });

    new Vue({
      el: '#even',
      data: {
        numbers: [1, 2, 3, 4, 5]
      },
      computed:{
        evenNumbers: function () {
          return this.numbers.filter(function (number) {
            return number % 2 === 0
          })
        }
      }
    });
  </script>
</html>